name: Image Fedora

on:
  workflow_dispatch:

jobs:
  build-fedora:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image (Fedora)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile-fedora
          push: true
          tags: gvoze32/cloud9:fedora
